@import '../../styles/colors.scss';
@import '../../styles/consts.scss';

.container {
  margin: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
