@import '../../../styles/colors.scss';
@import '../../../styles/consts.scss';

.container {
  position: fixed;
  width: 20px;
  height: 20px;
  padding: 10px;
  right: 20px;
  bottom: 20px;
  border: 1px solid $snow;
  display: flex;
  justify-content: center;
  align-items: center;
}
