$basic-darker: #39403e;
$basic-color: #4e5c58;
$slate: #2b4251;
$currant: #45415e;
$currant-extra: #ad3dd4;
$rain: #5b7d87;
$dew: #91b3bc;
$snow: #ffffff;
$snow-little-dirty: #d6d5d5;
$snow-dirty: #bbb9b9;
