@import '../../../../styles/colors.scss';
@import '../../../../styles/consts.scss';

.mainContainer {
  .container {
    width: 100%;
    height: 200px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .buttons {
      display: flex;
      gap: 10px;
    }
  }
}
